
html, body {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333; 
    background: radial-gradient(circle at center, #1a001a 0%, #000000 70%);; 
}


main {
    padding: 20px;
}


a {
    text-decoration: none;
    color: inherit; 
}

a:hover {
    text-decoration: none;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}


img {
    max-width: 100%;
    display: block;
}


button {
    font-family: inherit;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
}


.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}


html {
    scroll-behavior: smooth;
}