@page "/"

<div class="portfolio-home">
    <div class="hero-container">
        
        <div class="profile-box">
            <div class="profile-image-wrapper">
                <img src="https://i.imghippo.com/files/sgLk3571k.jpeg" 
                     alt="Fati Godinez" />
            </div>
            <div class="profile-name">
                <h1>Fati Godinez</h1>
                <p>Bachelor of Science in Information Technology</p>
            </div>
        </div>

   
        <div class="description-box">
            <h2>About Me</h2>
            <p>
               Hi! I am Fati E. Godinez, a 19-year-old second year Bachelor of Science in Information Technology (BSIT) student. I am currently studying and developing my skills in programming, web development, and system design.
I live in Poblacion, Medellin, Cebu, where I continue to grow academically and personally. As an IT student, I am passionate about learning new technologies and improving my technical knowledge to become a successful IT professional in the future.
I am hardworking, dedicated, and always willing to learn new things that can help me improve both my skills and character.
            </p>
            <p>
            
            </p>
        </div>
    </div>
</div>
